[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[FREEBSD]
row=1
col=0

[freebsd-boot]
row=3
col=0

[8e937327-1086-11ee-a3b2-1c8341307462]
row=0
col=0

[freebsd-swap]
row=2
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/freebsd]
row=0
col=1

