[Desktop Entry]
Type=Application
Version=1.0
Name=Install System
GenericName=System Installer
Exec=sudo bsdinstall
Icon=/boot/images/freebsd-logo-rev.png
Terminal=true
Categories=System;